body {
    font-family: 'Lato', sans-serif;
}

.fast-slide {
    background: linear-gradient(to top, #0009, #0003), url(images/banner1.png);
    background-size: cover;
}

.second-slide {
    background: linear-gradient(to top, #0009, #0003), url(images/banner2.png);
    background-size: cover;
}

.third-slide {
    background: linear-gradient(to top, #0009, #0003), url(images/banner3.png);
    background-size: cover;
}

.fourth-slide {
    background: linear-gradient(to top, #0009, #0003), url(images/banner4.png);
    background-size: cover;
}

.team{
    background: linear-gradient(to top, #0009, #0003), url(images/team.png);
    background-size: cover;
}